%fieldset 
  %legend Metadata
  %ol
    - %w(name description other_dims default_dim published_at units multiplier is_numeric).each do |field|
      %li
        = f.label field
        = f.text_field field
    %li
      = f.label "notes"
      = f.text_area "notes", :rows => 5, :cols => 40
