.container
  %h2 Select Detected HTML Table to Import

  %ul.menu.horizontal.tabbed
    %li#detected_tab.selected= link_to_tab "Detected", "detected_tab", "detected_section"
    %li#original_tab= link_to_tab "Original", "original_tab", "original_section"
  %hr{ :style => "border-top: 1px solid #333; margin: 0px;" }

.container
  #detected_section.tabsection
    %h3 Detected HTML Tables in URL
    - @datasource.tables.each do |table|
      - form_for [:datasource, @datatable], :html => { :class => "headroom legroom" } do |f|
        = render :partial => "selection_form", :locals => { :f => f, :table => table }
        = f.submit "Add as datatable &rsaquo;&rsaquo;"


  #original_section.tabsection.hidden
    %h3 Original Remote Page
    %iframe{ :src => @datasource.url, :width => "100%", :height => "600px", :overflow => "scroll" }
      %h2 Your browser doesn't support iFrames
