.container
  %div.note{ :style => "float: right" }
    = link_to "&lsaquo;&lsaquo; Back to Datasources", datasources_path

  = render :partial => "source"

.container
  #table_info
    = render :partial => "datatables/index"
