.container
  = render :partial => "source"

  %div
    = link_to "Back to Datasources", datasources_path

  %div
    #remote_page.half
      = "datasource.display"
    
    #table_info.half
      = render :partial => "datatables/index"
      
