:plain
  There are no datasets matching your search
  Would you like to #{mail_to "wil@graphbug.com", "request it?"}

<!-- this list is a hack that hardcodes possible datasets -->
%h4 Otherwise, explore the following searches
.container
  %ul
    - %w(population beverage death production act_score beer).each do |query|
      %li
        = link_to query, search_viz_path(:q => query), :"data-remote" => "true", :"data-update" => "search_results", "onclick" => "$('input.search').val('" + query + "')"
