<div class="container clear">
  <div class="one_third">
    <div id="search_controls">
      <form action="{% url graphs.views.search %}" method="GET" 
            data-remote="true" data-update="search_results">
        <input type="text" class="search" id="query" name="query" style="width: 90%" />
      </form>
    </div>

    <div id="search_results">
      <%= render :partial => "search" %>
    </div>
  </div>

  <div class="two_third">
    <div id="graph">
      <% if @datapack %>
        <%= render :partial => "visualization" %>
      <% end %>
    </div>
  </div>
</div>

