<% content_for :include do %>
  <%= stylesheet_link_tag "qunit.css" %>
  <%= javascript_include_tag "qunit.js" %>
  <%= javascript_include_tag "jstest.js" %>
<% end %>

<div class="container">
  <h1 id="qunit-header">Testing Tuftee</h1>
  <h2 id="qunit-banner"></h2>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
</div>

