<h2>Someone wants a reminder</h2>
<p>
  Gracious developers,
</p>
<p>
  I've just recieved word that a visitor would like to be notified when we launch
  at this address:
</p>
<blockquote>
  <%= @email %>
</blockquote>
<p>
  We shall not disappoint
</p>
<p>
  Sincerely,<br/>
  Graphbug
</p>
