<h2>Here's a dataset suggestion</h2>
<p>
  Gracious developers,
</p>
<p>
  I've just recieved word that a visitor from the interwebs has a
  dataset suggestion
</p>
<blockquote>
  <%= @body %>
  <br/>
  - <%= @email %>
</blockquote>
<p>
  Let's make it happen.
</p>
<p>
  Sincerely,<br/>
  Graphbug
</p>
