- content_for :splash do
  .section.splash
    .half
      .container
        %h2 Easily Find and Visualize Public Data
        %p
          There's lots of public data out there, but there's <br/>
          no quick way to visually explore that data.
        %p We're here to help.

.half
  .container
    %h2 What is it?
    %p
      %span{ :style => "font-weight: bold;" } Graphbug
      is a quick way to find public datasets and explore it through visualizations.
    
    %h2 How do I do that?
    %p
      You look for a set of data, we pull it up and graph it for you.  You can 
      also overlay different datasets.  You can also submit new datasets for us 
      to process.
    
    %h2 What datasets?
    %p
      Currently, we're starting with public government data in CSV files, and 
      other low hanging fruit.  If there's a dataset that you'd like to be 
      included, you can request it in our queue.

    %h2 Where is it?
    %p
      It's currently under development, and we'd like you to be an alpha tester.
      We're pretty excited to show it to you once we have something basic, 
      then you can throw all the flowers or rotten tomatoes to help make it better.

.half
  .container
    %h2 Interested in easily visualizing public datasets?
    %p We'll notify you when we launch.
    %div
      - form_tag(launch_notify_funnelcake_path, :method => :post) do
        .headroom.legroom
          = text_field_tag("email", nil, :class => "balloon", :style => "width: 300px", :placeholder => "Leave your email, we don't spam.")
        = submit_tag "Send", :class => "balloon", :style => "font-size: 1.2em; width: 300px"

