<% content_for :splash do %>
  <div class="section splash">
    <div class="half">
      <div class="container">
        <h2>Easily Find and Visualize Public Data</h2>
        <p>
          There's lots of public data out there, but there's <br/>
          no quick way to visually explore that data.
        </p>
        <p>
          We're here to help.
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="half">
  <div class="container">
    <h2>What is it?</h2>
    <p>
      <span style="font-weight: bold;">Graphbug</span> is a quick way to find 
      public datasets and explore it through visualizations.
    </p>
    
    <h2>How do I do that?</h2>
    <p>
      You look for a set of data, we pull it up and graph it for you.  You can 
      also overlay different datasets.  You can also submit new datasets for us 
      to process.
    </p>
    
    <h2>What datasets?</h2>
    <p>
      Currently, we're starting with public government data in CSV files, and 
      other low hanging fruit.  If there's a dataset that you'd like to be 
      included, you can request it in our queue.
    </p>

    <h2>Where is it?</h2>
    <p>
      It's currently under development, and we'd like you to be an alpha tester.
      We're pretty excited to show it to you once we have something basic, 
      then you can throw all the flowers or rotten tomatoes to help make it better.
    </p>
  </div>
</div>

<div class="half">
  <div class="container">
    <h2>Interested in easily visualizing public datasets?</h2>
    <p>
      We'll notify you when we launch.
    </p>
    <div>
      <% form_tag(launch_notify_funnelcake_path, :method => :post) do %>
        <div class="headroom legroom">
          <%= text_field_tag("email", nil, :class => "balloon", :style => "width: 300px", 
                             :placeholder => "Leave your email, we don't spam.") %>
        </div>
        <%= submit_tag "Send", :class => "balloon", :style => "font-size: 1.2em; width: 300px" %>
      <% end %>
    </div>
  </div>
</div>
