.container
  %div.note{ :style => "float: right" }
    = link_to "&lsaquo; Back to datatable", edit_datasource_datatable_path(@datacolumn.datatable.datasource, @datacolumn.datatable)
  %h2 Edit Datacolumn

.container
  -# Leaving it in a partial for when we get this all into the same datatable page
  = render :partial => "edit"
