<!-- This file is called when there's a 404, in dynamic errors -->
<div class="full">
  <div class="container" style="text-align: center">
    <h1>404 page not found.  Inconceiveable!</h1>
    <p>
      "You keep using that word. I do not think it means what you think it means."<br/>
      In the meantime, please head back to the <a href="/">main page.</a>
    </p>
    
    <%= image_tag "decor/zygoptera.jpg" %>
  </div>
</div>
