<!-- This file is called when there's a 404, in dynamic errors -->
<div class="full">
  <div class="container" style="text-align: center">
    <h1>404 page not found.</h1>
    <p>
      Sorry, you've requested a page that doesn't exist.<br/>
      Please head back to the <a href="/">main page</a>, or 
      <a href="mailto:wil@graphbug.com,
         ianxm@jhu.edu?subject=[graphbug] Missing page">
        Email us
      </a><br/> if you think something's wrong with Graphbug.
    </p>
    
    <%= image_tag "decor/bug_audreyjm529.jpg" %>
    <div xmlns:cc="http://creativecommons.org/ns#" about="http://www.flickr.com/photos/audreyjm529/1316962360/">
      <a rel="cc:attributionURL" href="http://www.flickr.com/photos/audreyjm529/">
        http://www.flickr.com/photos/audreyjm529/
      </a> / <a rel="license" href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
    </div>

  </div>
</div>
