<div class="section" id="notifications">
  <% if flash[:notice] %>
  <div class="notice balloon">
    <span class="container"><%= flash[:notice] %></span>
  </div>
  <% end %>
  <% if flash[:error] %>
  <div class="error balloon">
    <span class="error balloon"><%= flash[:error] %></span>
  </div>
  <% end %>
</div>
