<div class="frame">
  <div class="header">
    <div class="container" style="float: left">
      <h1>Graphbug</h1>
    </div>
    <div class="nav container">
      logout
    </div>
  </div>

  <%= render :partial => "layouts/app_notification" %>

    <div class="section" id="content">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        Timeapple (c) 2009
      </div>
    </div>
</div>
